{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "env": {
    "jest": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "react/prop-types": [0],
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
